
/* ================================= Activity 10 ==========================================*/

#activity_10_con{
    width: 50%;
}

.image-container {
  text-align-last: center;
  cursor: pointer;
  transition: opacity 0.2s;
  margin: 5px;
}

.big-image{
  width: 72px;
  height: 62px;
}

.small-image{
  width: 47px;
  height: 47px;
}

.correct-click {
  border: 0.5px solid green;
  background-color: rgba(173, 255, 195, 0.5);
}
.incorrect-click {
  border: 2px solid red;
}
