*,
*:before,
*:after{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    background-image: url('../img/cp_background_image.png');
    background-size: cover;
    background-position: center;
    font-family: 'Comic Sans MS', cursive;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 0;
    }

/* Styles for the loading screen */
.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #C77398; /* You can change the background color */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loading-screen-text img {
    border-radius: 50%;
    width: 140px; /* Adjust the logo size as needed */
    height: 140px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

.loading-screen-text h1{
    padding: 23px;
}

@keyframes spinner {
        0% {
          transform: translate3d(-50%, -50%, 0) rotate(0deg);
        }
        100% {
          transform: translate3d(-50%, -50%, 0) rotate(360deg);
        }
      }
      .loading-screen-text::before {
        animation: 1.5s linear infinite spinner;
        animation-play-state: inherit;
        border: solid 2px #fffadd;
        border-bottom-color: #c77398;
        border-radius: 50%;
        content: "";
        height: 145px;
        width: 145px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        will-change: transform;
      }

/* ===================================== Login Form =======================================*/

.form-container {
     display: grid;
     place-items: center;
     height: 90vh;     
        }

.form-group {     
    justify-content: space-between;
    margin-bottom: 5px;
}

.loginForm{
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: rgba(199, 115, 152, 0.5);   
}

.logo-name img{
    border-radius: 50%;
    width: 140px; /* Adjust the logo size as needed */
    height: 140px;
    left: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    place-items: center;
    margin-top: -75px;
}

.loginForm h2{
    font-weight: bold;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.2), 2px 2px rgba(0, 0, 0, 0.19);
    font-size: 30px;

}

input[type="text"], input[type="number"], input[type="tel"] {
            width: 100%;
            padding: 10px;
            margin: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        select {
            width: 45%;
            padding: 5px;
            margin: 5px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        button {
            background-color: #c77398;
            color: #fffadd;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            cursor: pointer;
        }



/* =========================================================*/

.home_page_links_deco{
  text-decoration: none;
  color:#fff;
  font-size: 28px;
}

.activity_links_deco{
  text-decoration: none;
  color:#fff;
}

.hm_sections {
margin-top: 5px;
 width: 100%; 
 height: 100%;
 padding: 10px;
 position: relative; 
 
 }

 .hm_section {
    margin-top: 40px;
    width: 100%; 
    height: 100%;
    padding: 10px;
    position: relative; 
 } 

.trial_btn1_h, .test_btn1_h, .performance_btn1_h{
    border-radius: 8px;
}

.trial_btn1, .test_btn1, .performance_btn1 {
  background-color: #C77398;
  color: white;
  padding: 5px 15px;
  font-size: 28px;
  cursor: pointer;
  left: 40%;
  border-radius: 8px;
}
.trial_btn1{
top: 100px;
}

.test_btn1 {
  top: 250px;
}
.performance_btn1 {
 top: 400px;
}
.trial_btn1:hover, .test_btn1:hover, .performance_btn1:hover {
  background-color: #FFC0CB;
}




/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .form-container,intput[type=submit] {
        width: 90%;
        margin-top: 0;
      }

      .hm_sections {
        margin-top: 30px;
      }

      .trial_btn1, .test_btn1, .performance_btn1{
        font-size: 20px;
      }

      .activity_links_deco{
  text-decoration: none;
  color:#fff;
  font-size: 20px;
}
}



/*header and navbar*/
.navbar {
    background-color: #C77398; 
}

.logo {
    margin-left: 50px;
}

.logo img{
    border-radius: 50%;
    max-width: 70px; /* Adjust the logo size as needed */
    max-height: 70px;
}

.nav-menu{
    background-color: unset;
}

.navbar-collapse{
    flex-direction: row-reverse;
    padding-right: 100px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav li {
    font-size: 18px;
    text-align: center;
    padding: 12px;
    line-height: 25px;
    border-radius: 4px;
}



.submit, .reset{
    margin: 0px 30px;
}

.back_link_deco{
  text-decoration: none;
  color:#fff;
}

.buttons{
    text-align: center;
}



/* Styles for About Us, Introduction and Overview Pages */

.section-title h2{
    font-size: 64px;
    color: darkslategray;
}

.about_us_info{
    font-size: 40px;
    color: #7a5f12;
    font-weight: 500;
}

.introduction_info{
    font-size: 40px;
    color: #109eeb;
    font-weight: 500;
}

.overview_info{
    font-size: 36px;
    color: #de54b5;
    font-weight: 500;
}